/* Asterisk style to remove default styling*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header */
header {
    background-color: brown;
}

/*Main*/
main {
    background-color: blue;
}

/*Footer*/
footer {
    background-color: pink;
}